// Variables
// --------------------------

@fa-font-path:         "../webfonts";
@fa-font-size-base:    16px;
@fa-font-display:      block;
@fa-line-height-base:  1;
@fa-css-prefix:        fa;
@fa-version:           "5.15.3";
@fa-border-color:      #eee;
@fa-inverse:           #fff;
@fa-li-width:          2em;
@fa-primary-opacity:   1;
@fa-secondary-opacity: .4;

@fa-var-bars: "\f0c9";
@fa-var-facebook-square: "\f082";
@fa-var-linkedin: "\f08c";
